<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="p2p-Info.log" class="org.apache.log4j.RollingFileAppender">
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="4" />

        <param name="File" value="/tmp/jforum.log" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%-c{1}] - %m%n" />
        </layout>
    </appender>

    <category name="org.jgroups" additivity="false">
        <priority value="info" />
        <appender-ref ref="p2p-Info.log" />
    </category>


    <root>
        <priority value="info" />
        <appender-ref ref="p2p-Info.log" />
    </root>

</log4j:configuration>
