<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sr.p2p.dao.RoleResourcesMapper" >

    <resultMap id="UserResultMap" type="com.sr.p2p.model.User" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="FIRSTNAME" property="firstName" jdbcType="VARCHAR" />
        <result column="LASTNAME" property="lastName" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="isaccountnonexpired" property="isAccountNonLocked" jdbcType="DECIMAL" />
        <result column="isaccountnonlocked" property="isCredentialsNonExpired" jdbcType="DECIMAL" />
        <result column="iscredentialsnonexpired" property="isEnabled" jdbcType="DECIMAL" />
        <result column="isenabled" property="isEnabled" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="ResourceMap" type="com.sr.p2p.model.Resource" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="DESCRIPT" property="descript" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="RoleMap" type="com.sr.p2p.model.Role" >
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="DESCRIPT" property="descript" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="RoleResourcesMap" type="com.sr.p2p.model.RoleResource" >
        <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <id column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="UserRolesMap" type="com.sr.p2p.model.UserRole" >
        <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="getUserByUsername" resultMap="UserResultMap" parameterType="java.lang.String">
        select t.ID,t.FIRSTNAME,t.LASTNAME,t.EMAIL,t.PASSWORD, t.username,t.isaccountnonexpired,t.isaccountnonlocked,t.iscredentialsnonexpired,t.isenabled from USERS  t where t.username = #{username}
    </select>

    <select id="finAllResources" resultMap="ResourceMap">
      select t.id,t.name,t.descript,t.url,t.type from RESOURCES t
    </select>

    <select id="findAllRole" resultMap="RoleMap">
      select t.id,t.name,t.descript,t.type from ROLES t
    </select>

    <select id="findRoleResources" resultMap="RoleResourcesMap">
       select t.role_id,t.resource_id from ROLES_RESOURCES t
    </select>

    <select id="findUserRoles" resultMap="UserRolesMap" parameterType="java.lang.Long">
        select t.user_id,t.role_id from USERS_ROLES t where t.user_id =  #{userid}
    </select>

</mapper>